#main-clients {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    & .wrap {
        width: calc(100% - 200px);
        padding: 30px 50px;
        min-height: 100vh;
        & ul {
            min-width: 1300px;
            overflow-x: auto;
            & li {
                display: flex;
                background-color: var(--color-darknuance-alpha);
                border-bottom: 1px solid rgba(255,255,255,0.1);
                &:nth-of-type(even) {
                    background-color: var(--color-darknuance);
                }
                &.tableHead {
                    background: transparent;
                }
                & > * {
                    flex-grow: 1;
                    width: calc(100% / 7);
                }
                & h4 {
                    font-size: 1rem;
                    position: relative;
                    & a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px;
                        border: 1px solid transparent;
                        border-left: none;
                        border-right: none;
                        i {
                            opacity: 0;
                            transform: translateX(-5px);
                            transition: all 0.2s ease-in-out;
                        }
                        &:hover {
                            border-color: #FFF;
                            i {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }
                    }
                }
                & p {
                    font-size: 0.825rem;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    & button{
                        display: block;
                        padding: 6px 10px;
                        margin-left: 20px;
                        border: 2px solid rgba(255,255,255,0.1);
                    }
                }
            }
        }
    }
}