#main-clients {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    & .wrap {
        width: calc(100% - 200px);
        padding: 30px 50px;
        min-height: 100vh;
        & ul {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 2%;
            & li {
                display: inline-block;
                background-color: var(--color-darknuance-alpha);
                width: calc(100% / 5);
                max-width: 300px;
                border-radius: 8px;
                & h4 {
                    border-radius: 8px 8px 0 0;
                    background-color: var(--color-darknuance-alpha);
                    & a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 8px 8px 0 0;
                        padding: 20px;
                        &:hover {
                            background-color: var(--color-darknuance);
                        }
                    }
                }
                & p {
                    font-size: 0.825rem;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 20px;
                    &:not(:last-of-type) {
                        border-bottom: 1px dashed rgba(255,255,255,0.3);
                    }
                    &:last-of-type {
                        padding: 0;
                        & button{
                            padding: 10px;
                            width: 100%;
                            text-align: center;
                            background-color: var(--color-darknuance-alpha);
                            border: none;
                        }
                    }
                }
            }
        }
    }
}