#mainNotFound {
  min-height: 100%;
}

#mainNotFound .wrap > img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

#mainNotFound h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  line-height: 1.1;
}